client/samples/product.dtd

<!ELEMENT name (#PCDATA)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT target_attribute (#PCDATA)>
<!ELEMENT attribute (#PCDATA)>
<!ELEMENT other (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT condition (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT warranty (#PCDATA)>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT closing_time (#PCDATA)>
<!ELEMENT location (#PCDATA)>
